
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Dropdown</button>
        <div class="dropdown-menu text-center">
            <a class="dropdown-item" routerLink="/member">Member</a>
            <a class="dropdown-item" routerLink="/rank">Rank</a>
            <a class="dropdown-item" routerLink="/honor">Honor</a>
            <a class="dropdown-item" routerLink="/total">All Kata</a>
        </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>